body {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: coral;
}
.header_div {
    background: cornsilk;
    color: black;
}
.header_div p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button {
    font-family: cursive;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position:fixed;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: cornsilk;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}